$primary-color:#F5F5F5;
$secondary-color:#223959;



@import './node_modules/bootstrap/scss/bootstrap.scss';
@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

body{
    background-color: $primary-color;
    color: $secondary-color;
    font-family: 'Raleway', sans-serif;
}
h2{
margin:60px;
}


//-------NAVIGATION
// .nav-link {
//     color: rgba($secondary-color, 0.9) !important;
//   }

//-------HOME
.home {
    width: 100%;
    height: 100vh;
    background: url("./img/home.jpg") center no-repeat;
    background-size: cover;
    position: relative;
  }
  
  .overlay {
    width: 100%;
    height: 100%;
    background-color: rgba($secondary-color, $alpha: 0.6);
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
  }

//-------TEAM
.container-team img{
    height: 200px;
    width: 200px;
    border-radius: 50%;
}
.team-description{
    margin:50px;
}

//-------PHIOLSOPHY

.philo-blue{
    background-color: $secondary-color;
    color: $primary-color;
    border: 20px solid #223959;
    padding:100px;
}
.philo-white{
    background-color: $primary-color;
    color: $secondary-color;
    border: 20px solid #F5F5F5;
    padding: 100px;
}


//-------PRICES

a#cuts-tab.nav-link.active, a#coloring-tab.nav-link.active, a#treatment-tab.nav-link.active{
    background-color: $secondary-color;
    color: $primary-color;
}
a#cuts-tab.nav-link, a#coloring-tab.nav-link, a#treatment-tab.nav-link {
    background-color: $primary-color;
    color: $secondary-color;
}
.nav-tabs{
    border-bottom: 2px solid $secondary-color;
}
.tab-pane{
margin: 30px;
border-bottom: 2px solid $secondary-color;
}
.tab-content{
    height: 300px;
}

#gift{
    font-style: italic;
}

//-------PRODUCTS
.product-header, .contact-header{
    width: 100%;
    height: 100px;
    background-size: auto;
    position: relative;}
.product-header.wella{
        background: url("./img/header1.png") center no-repeat;
    }
.product-header.davines{
        background: url("./img/header2.jpg") center no-repeat;
    }
.product-header.sassoon{
        background: url("./img/header3.jpg") center no-repeat;
    }

//-------CONTACT
.contact-header{
    background: url("./img/header.jpg") center no-repeat;
}

form{
    background-color: white;
    border: 2px solid $secondary-color;
    padding:20px;
}

.btn-submit{
    background-color: $secondary-color;
    color: $primary-color;
    padding: 10px;
}
