$primary-color:#F5F5F5;
$secondary-color:#223959;



@import './node_modules/bootstrap/scss/bootstrap.scss';


//-------NAVIGATION
#logo-mackinder {
padding: 25px;
height: 90px;
width: auto;
}

//-------HOME
.container-fluid.home{
    background-image: url('./img/home.jpg');
    color:$primary-color;
}

.home-btn-outline{
background-color: transparent;
border: 3px solid $primary-color; 
padding: 20px;  
}
.home-btn-full{
    background-color: $primary-color;
    color: $secondary-color;
    border: 3px solid $secondary-color;
    padding: 20px;
}



//-------PHIOLSOPHY

.philo-blue{
    background-color: $secondary-color;
    color: $primary-color;
    border: 20px solid #223959;
    padding:100px;
}
.philo-white{
    background-color: $primary-color;
    color: $secondary-color;
    border: 20px solid #F5F5F5;
    padding: 100px;
}


//-------CONTACT
.container-header{
    position: relative;
    text-align: center;
}
img.contact-header {
    width:100%;
    height:30px;
}
.contact-header{
    position: absolute;
    top:10px;
    left:10px;
}

form{
    background-color: white;
    border: 2px solid $secondary-color;
    padding:20px;
}

.btn-submit{
    background-color: $secondary-color;
    color: $primary-color;
    padding: 10px;
}

